.loader1 {
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: visible;
    background: url(../img/plant_loader.gif) no-repeat center center;
}

/* LOADER */
.loader-wrapper {
	width: 100%;
	height: 100%;
	position: fixed;
	overflow: hidden;
	z-index: 2400;
	top: 0;
	left: 0;
	display:flex;
	justify-content: center;
    align-items: center;
    background: white;
}




        #sa {

            position: absolute;

            left: 50%;

            top: 50%;

            z-index: -9999;

            width: 150px;

            height: 150px;

            margin: -75px 0 0 -75px;

            border: 16px solid #f3f3f3;

            /*border-top: 16px solid #000000;*/

            width: 120px;

            height: 120px;

            -webkit-animation: spin 2s linear infinite;

            animation: spin 2s linear infinite;

        }

        /*@-webkit-keyframes spin {

            0% {
                -webkit-transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
            }

        }*/

        /*@keyframes spin {

            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }

        }*/

        /* Add animation to "page content" */

        .animate-bottom {

            position: relative;

            -webkit-animation-name: animatebottom;

            -webkit-animation-duration: 1s;

            animation-name: animatebottom;

            animation-duration: 1s

        }

        .center {

            position: absolute;

            top: 50%;

            left: 50%;

            transform: translate(-50%, -60%);

        }

        @-webkit-keyframes animatebottom {

            from {
                bottom: -100px;
                opacity: 0
            }

            to {
                bottom: 0px;
                opacity: 1
            }

        }

        @keyframes animatebottom {

            from {
                bottom: -100px;
                opacity: 0
            }

            to {
                bottom: 0;
                opacity: 1
            }

        }

        #loader {


            width: 300px;

            height: 170px;

            /*background: #FFFFFF;*/

            background-image: url('../img/itsi-login.png');

            /*border-radius: 50%;*/

            color: #fff;

            font-size: 40px;

            text-align: center;

            line-height: 100px;

            Font-family: verdana;

            text-transform: uppercase;

            animation: animate 3s linear infinite;

        }

       /* @keyframes animate {

            0% {

                box-shadow: 0 0 0 0 rgba(75, 104, 199, .4), 0 0 0 0 rgba(75, 104, 199, .4)

            }

            40% {

                box-shadow: 0 0 0 50px rgb(75, 104, 199), 0 0 0 0 rgba(75, 104, 199, .2)

            }

            80% {

                box-shadow: 0 0 0 50px rgba(75, 104, 199, 0), 0 0 0 20px rgba(75, 104, 199, 0)

            }

            100% {

                box-shadow: 0 0 0 0 rgba(75, 104, 199, .0), 0 0 0 20px rgba(75, 104, 199, 0)

            }

        }*/

        #myDiv {

            display: none;

            text-align: center;

        }

  -/*      body {
            background: rgba(0, 0, 0, 0);;
            background: -moz-linear-gradient(left, rgba(0, 0, 0, 0); 0%, rgba(20, 48, 74, 1) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0, 0, 0, 0);), color-stop(100%, rgba(20, 48, 74, 1)));
            background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0); 0%, rgba(20, 48, 74, 1) 100%);
            background: -o-linear-gradient(left, rgba(0, 0, 0, 0); 0%, rgba(20, 48, 74, 1) 100%);
            background: -ms-linear-gradient(left, rgba(0, 0, 0, 0); 0%, rgba(20, 48, 74, 1) 100%);
            background: linear-gradient(to right, rgba(0, 0, 0, 0); 0%, rgba(20, 48, 74, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00000', GradientType=1);

            background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000)) fixed;
            background: #FFFFFF;

        }*/
